<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        
        <title>Django Socketio playground</title>
        <!-- Bootstrap -->
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/jquery.miniColors.css" rel="stylesheet">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/socket.io.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.miniColors.js"></script>
        
    </head>
    <body>
        <div class="container">
            {% block body %} {% endblock body %}
            <hr>
            <footer>
             {% block footer %} CC3.0 slok {% endblock footer %}
            </footer>
        </div> <!-- /container -->

        
    </body>
</html> 
