 {% extends "djangosocketioexample/base.html" %}

{% block menubar %} 
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Django socketio example</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li  class="active"><a href="playground/echo">Echo</a></li>
              <li><a href="playground/time">Time</a></li>
              <li><a href="playground/chat">Chat</a></li>
              <li><a href="https://github.com/slok/django-socketio-example">Source code</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
{% endblock menubar %}

{% block body %}

<script type="text/javascript">
    $(document).ready(function() {
        //connect to the socket
        var socket = io.connect("/echo");

        //receive messages and update html
        socket.on('echo msg', function(message){
            $('<div class="alert alert-info">').text(message).appendTo('#messages')
        });

        //set the sender action to the button
        $('#echo-me-btn').click(function(){
            msg = $.trim($("#echo-text").val());
            if (msg)
                socket.emit('echo me', msg);
            $("#echo-text").val('');
        });

        $('#echo-all-btn').click(function(){
            msg = $.trim($("#echo-text").val());
            if (msg)
                socket.emit('echo all', msg);
            $("#echo-text").val('');
        });

    });
</script>

<div id="messages">
</div>

<form>
    <input id="echo-text" type="text" />
    <button id="echo-me-btn" class="btn btn-large btn-primary" type="button">echo me!</button>
    <button id="echo-all-btn"class="btn btn-large btn-primary" type="button">echo all!</button>
</form>
{% endblock body %} 
